# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

service sysinit_cm /rz/bin/sysinit_cm
    class main
    user root
    group root
    disabled
    oneshot
    seclabel u:r:shell:s0

on init
    # UFS readahead
    chmod 660 /sys/block/sda/queue/read_ahead_kb
    write /sys/block/sda/queue/read_ahead_kb 2048

    # SD card readahead
    chmod 660 /sys/block/mmcblk0/queue/read_ahead_kb

on boot
    start sysinit_cm

on property:sys.boot_completed=1
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/restricted/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3

    ## end boot time fs tune
    write /sys/block/sda/queue/scheduler deadline
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/rq_affinity 1

    # VM tunables for optimized IO performance
    write /proc/sys/vm/dirty_expire_centisecs 2000
    write /proc/sys/vm/dirty_writeback_centisecs 5000

    # DriveDroid support
    mkdir /sys/kernel/config/usb_gadget/g1/functions/mass_storage.0
    symlink /sys/kernel/config/usb_gadget/g1/functions/mass_storage.0 /sys/kernel/config/usb_gadget/g1/configs/c.1/mass_storage.0

    setprop persist.sys.ui.hw true

